body {
  color: #544844;
  font-size: 16px;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 96px;
}

.header-left {
  background-color: lightgoldenrodyellow;
}
.business-logo {
  height: 80px;
  width: 129.28px;
}
.header-middle {
  background-color: lightcoral;
}
.header-right {
  background-color: lightgoldenrodyellow;
}