body {
  color: #544844;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.header-1 {
  padding-left: 20px;
  padding-right: 20px;
  background-color: yellow;
}

.header-2 {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  height: 96px;
}

.header-left {
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: left;
  align-items: center;
}
.business-logo {
  height: 80px;
  width: 129.28px;
}
.header-middle {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-cat {
  cursor: default;
}

.product-cat img {
  transition: transform .3s ease-in-out;
  transform-origin: center;
  height: 6px;
}

.product-cat:hover img {
  transform: rotate(180deg);
}


.header-right {
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-right img {
  height: 20px;
}

.money-and-shopping-item {
  display: flex;
  align-items: center ;
}

.shopping-bag-bag {
  height: 27px;
  width: 27px;
  border: 1px solid #544844;
  border-radius: 3px 3px 4px 4px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-left: 2px solid #544844;
  border-bottom: 2px solid #544844; */
    /* border-left: 2px solid #544844; */
}

.shopping-bag-handle {
  border: 1px solid #544844;
  border-radius: 50% 50% 1px 1px;
  height: 5px;
  position: absolute;
  top: -5px;
  left: 8px;
  right: 8px;
}

